#app {
  overflow-y: hidden;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-items: center;
}

#file-selection-list {
  overflow-y: scroll;
  flex: 1;
  border: 1px solid black;
  margin: 1rem;
  padding: 0rem 1rem;
}

#file-selection-list > li{
  list-style: none;
  font-size: 1.2rem;
}

#file-selection-list > li:hover{
  background-color: rgba(50, 50, 200, 0.5);
}

#video-container {
  flex: 7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin: 1rem;
}

#video-front {
  height: 600px;
}

#video-left_repeater {
  height: 360px;
  margin: 0;
}

#video-right_repeater {
  height: 360px;
  margin: 0;
}